---
layout: default
title: In-house iPhone and iPad Developer Training in the UK | Shiny Development
description: Get your development team up to speed quickly with a bespoke iPhone and iPad training course. Our courses provide a cost effective way to bring your whole team up to speed quickly and efficiently with iOS.
permalink: /in-house-iphone-training/
redirect_from:
  - /training/index.html
  - /iphone-training/index.html
---

<div class="container content-upper">
  <div class="section ">
    <h2>In-House iOS Training.</h2>
    <p class="excerpt">We can tailor an iPhone and iPad developer training course to your organisation&rsquo;s specific needs.</p>
    <p class="excerpt">Our bespoke training courses provide a cost effective way to bring your whole team up to speed, allowing them all to contribute to your development project from day one.</p>
  </div>
  <img src="/assets/images/macbook-xcode7.png" width="541" height="340" class="display-img" alt="iOS developer training courses fully updated for iOS 9 and Xcode 7">
</div>

</div>

<div class="wrapper pattern">
  <div class="container content-lower">
    <div class="section section-double">
      <h3>Design your iOS Developer Training Course</h3>
      <p>All of our training materials (slides, tutorial documents and sample code) have been fully updated for <strong>Xcode 7 and iOS 9</strong>.</p>
      <p><strong>Day 1</strong> is primarily focused on Objective-C and covers everything needed to start building iOS applications. The day covers basic Objective-C syntax and constructs, use of the Xcode IDE as a development tool, the Foundation framework, building Objective-C classes, properties and methods, debugging using Xcode and GDB, and a thorough explanation of memory management including full details of automatic reference counting (ARC).</p>
      <p><strong>Day 2</strong> teaches the basics of iOS application development and then covers the details of views and view hierarchy, storyboarding, Interface Builder, view controllers and architecture techniques to ensure a scalable app, table views, navigation and navigation controllers.</p>
      <p>Once the basic concepts have been covered, <strong>Day 3 and Day 4</strong> can be tailored to your specific needs. Previous courses have included in-depth coverage of topics such as:</p>
      <ul class="half">
        <li>Custom controls, UI and interaction.</li>
        <li>Communication with web services.</li>
        <li>Audio and video playback or recording.</li>
        <li>Deployment, distribution and the iTunes app store.</li>
        <li>Animation, custom drawing and Core Graphics.</li>
      </ul>
      <ul class="half">
        <li>Integration with the GPS or in-built maps.</li>
        <li>Accessing contact data, in-app mail, SMS, and other system services.</li>
        <li>Multitasking, threading and Grand Central Dispatch.</li>
        <li>Using Instruments, debugging and performance testing.</li>
      </ul>
      <p class="fancy-link"><a href="/in-house-iphone-training-enquiry/">Make an in-house training enquiry</a></p>
    </div>
    <div class="section">
      <h3>About the Trainer</h3>
      <h4>Dave Verwer</h4>
      {% include daveverwer-bio.html %}
      {% include prerequisites.html %}
      <p>All of our in-house training courses are subject to our <a href="/in-house-course-terms-and-conditions/">in-house course terms and conditions</a>.</p>
    </div>
  </div>

  <div class="container content-lower-alt">
    <div class="section" style="padding:0;width:100%;">
      <h3 style="margin-bottom: 0">Testimonials</h3>
    </div>
    <div class="section">
      <blockquote><p>Dave was recommended to us as one of the strongest iPhone application developers in the North West, and he absolutely met our expectations.  Dave delivered a 4 day session to our team of developers, which was very well received.</p>
        <p>In the lead up to the training period Dave worked with our Senior Software Architect, Gary Thorpe to determine the skill level of our team, and adapted his usual course to suit their more advanced needs.  As a result, a team of skilled developers at varying levels found the sessions useful and informative.  By the end of the final day they had completed their first iPhone application, and work on our iPad offering had begun.  We would recommend Dave at Shiny Development with no reservation.</p>
      <p class="author">Lisa Jones, <a rel="nofollow" href="http://creativelynx.co.uk/">Creative Lynx</a></p></blockquote>

    </div>

    <div class="section">
      <blockquote><p>After becoming a little frustrated trying to teach myself Objective-C and Xcode we organised a course with Shiny. By the end of the first day most of my headaches understanding Objective-C were resolved. Concepts where explained simply and backed up with demonstrations that reinforced the learning process.</p>
      <p>When arranging the course and explaining our business with online video, Dave at Shiny Development offered us a customised course that took the core of the standard group course and tailored it to our needs. This really helped, by ensuring there was a good understanding of the fundamentals of iPhone development then advancing with video specific classes and objects, our development was massively accelerated - so much so, I had our first app programmed by the end of the first week after the course!</p>
      <p class="author">Chris Wood, <a rel="nofollow" href="http://www.splashbroadcast.com/">Splash Broadcast</a></p></blockquote>
    </div>
  </div>

  <div class="container content-lower-alt">
    <div class="section section-content-highlight">
      <h3>Follow Up iOS Consultancy</h3>
      <p>Once your training is completed we offer consultancy to guide you through the rest of the process of getting your app onto the store. Charged on a time and materials basis, we can help with any aspect of designing, building, submitting or marketing your iOS apps.</p>
      <p>Please <a href="/contact/">contact us</a> to enquire about our availability.</li>
    </div>
  </div>
  <br style="clear:both" />
</div>
