<div class="wrapper">
  <div class="container">
    <div class="footer">
      <ul>
        <li class="shiny-logo">Shiny Development</li>
        <li>&copy; Shiny Development <abbr title="Limited">Ltd</abbr>, 2004-2010. All rights reserved. | <a href="/privacy/">Privacy Policy</a></li>
        <li>Apple, Mac OS, iPod, iPhone and iPad are all trademarks of Apple Inc., registered in the U.S. and other countries.</li>
        <li>Shiny Development Ltd. is registered in England, Registration Number: 05805802.</li>
        <li>Registered Office: 4 Claridge Court, Lower Kings Road, Berkhamsted, Herts., HP4 2AF.
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
