<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- TradeDoubler site verification 2279760 -->
<meta charset=UTF-8 />
<title>{{ page.title | append:title_suffix }}</title>
{% if page.description %}<meta name="description" content="{{ page.description | strip_html }}" />{% elsif page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}" />{% endif %}
<meta name="google-site-verification" content="OYmJMJUoi-63XjXK_L5lhgXyYjsx3-hAEpZbA3OrvwY" />
<meta name="msvalidate.01" content="02B85384C8C63038F16CA78E51A07225" />
<link href="/atom.xml" rel="alternate" title="iPhone Development Blog | Shiny Development" type="application/atom+xml" />
<link rel="stylesheet" type="text/css" href="/assets/styles/screen.css" media="screen, print" />
<link rel="stylesheet" type="text/css" href="/assets/styles/syntax.css" media="screen, print" />

<script src="/assets/js/modernizr-1.6.min.js"></script>
<script src="/assets/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/assets/js/superfish.js" type="text/javascript"></script>
<script src="/assets/shadowbox-3.0.3/shadowbox.js" type="text/javascript"></script>
<script src="/assets/flowplayer/flowplayer-3.2.0.min.js"></script>
<script src="/assets/js/html5-video.js"></script>
<script src="/assets/js/onload.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<!--[if IE 6]><script src="/assets/js/belatedpng.js" type="text/javascript"></script><![endif]-->
<!--[if IE 6]><script src="/assets/js/ie6.js" type="text/javascript"></script><![endif]-->
<script type="text/javascript" src="http://use.typekit.com/jur6mdo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="/assets/prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/assets/prettify/prettify.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-360862-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">

	var _tsq = _tsq || [];
	_tsq.push(["setAccountName", "shiny"]);
	_tsq.push(["fireHit", "tapstream_tracker", []]);

	(function() {
   	 function z(){
       	 var s = document.createElement("script");
      	  s.type = "text/javascript";
      	  s.async = "async";
      	  s.src = window.location.protocol + "//cdn.tapstream.com/static/js/tapstream.js";
      	  var x = document.getElementsByTagName("script")[0];
      	  x.parentNode.insertBefore(s, x);
   	 }
   	 if (window.attachEvent)
   	     window.attachEvent("onload", z);
   	 else
   	     window.addEventListener("load", z, false);
	})();
</script>
<script type="text/javascript">
function trackOutboundLink(link, category, action) {

try {
_gaq.push(['_trackEvent', category , action]);
} catch(err){}

setTimeout(function() {
document.location.href = link.href;
}, 100);
}
</script>
</head>
