<div class="wrapper wrapper-upper">
  <div class="container">
    <div class="header">
      <h1><a href="/" title="{{ page.title }}">{{ page.title }}</a></h1>
      <ul class="nav sf-menu">
        <li id="nav_home"><a href="/">Home</a></li>
        <li id="nav_training"><a href="/in-house-iphone-training/">iOS Training</a>
        </li>
        <li id="nav_apps"><a href="/our-apps/">Our Apps</a>
          <ul>
            <li><a href="/status-magic/">Status Magic</a></li>
            <li class="top"><a href="/charades/">Charades</a></li>
            <li><a href="/tackle-fishing/">Tackle Fishing</a></li>
            <li><a href="/explore-flickr/">Explore Flickr</a></li>
            <li><a href="/balloons/">Balloons!</a></li>
            <li class="bottom"><a href="/speakapedia/">Speakapedia</a></li>
          </ul>
        </li>
        <li id="nav_blog"><a href="/blog/">Blog</a></li>
        <li id="nav_contact"><a href="/contact/">Contact Us</a></li>
      </ul>
    </div>
  </div>
