<div class="aside">
  <div class="callout">
    <h3>What We Do</h3>
    <p>Interested in getting your team up to speed on iOS? <a href="/training/" onClick="trackOutboundLink(this, 'Training Blog', '/in-house-iphone-training/'); return false;">Check out our in-house training course</a>.</p>
  </div>
  <div class="callout">
    <h3>iOS Dev Weekly</h3>
    <p>We also run <a href="http://iosdevweekly.com" onClick="trackOutboundLink(this, 'iDW Blog 1', 'http://iosdevweekly.com'); return false;">iOS Dev Weekly</a>, a <strong>free</strong> weekly email with 10 or so links to the best blog posts and articles on iOS development for the week. If you are interested in iOS development then it is likely that you will find something of interest in iOS Dev Weekly each week. <a href="http://iosdevweekly.com" onClick="trackOutboundLink(this, 'iDW Blog 2', 'http://iosdevweekly.com'); return false;">You should subscribe!</a>.</p>
  </div>
</div>