/*============================================================

Author: Simon Young
http://simonyoung.net
http://twitter.com/simon180

IE6.CSS 
General IE6 hacks in here 

(c) Simon Young, 2010. All rights reserved.

============================================================*/

