/*============================================================

Author: Simon Young
http://simonyoung.net
http://twitter.com/simon180

SCREEN.CSS 
Base CSS setup

Please check individual files for copyright information and
license/re-use information

============================================================*/

/* import stylesheets and hide from IE/Mac \*/
@import url(reset.css);
@import url(superfish.css);
@import url(layout.css);
@import url(../shadowbox-3.0.3/shadowbox.css);
/* end import/hide */